@model EssentialNewsMvc.Web.ViewModels.Home.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        @Html.Partial("_CarouselPartial", Model.TopNews)
        <hr />
        @foreach (var article in Model.Articles)
        {
            @Html.DisplayFor(x => article);
        }
    </div>
    <div class="col-md-4">
        @Html.Action("Index", "Aside")
    </div>
</div>